<%= form_for @call do |f| %>
  <p>
    <%= f.label :from_floor %>
    <%= f.select :from_floor, (1..10).to_a %>
  </p>

  <p>
    <%= f.label :direction %>
    <%= f.radio_button :direction, "up", { checked: true } %> 
    <%= f.label :direction_up, "up" %>
    <%= f.radio_button :direction, "down" %> 
    <%= f.label :direction_down, "down" %>
  </p>

  <%= f.submit %>
<% end %>